/*! debug.css | MIT License | zaydek.github.com/debug.css */
*:not(path):not(g) {
	color:                    hsla(210, 100%, 100%, 1) !important;
	background:               hsla(210, 100%,  50%, 0.1) !important;
	outline:    solid 0.25rem hsla(210, 100%, 100%, 0.1) !important;

	box-shadow: none !important;
}